<div *ngIf="profile" class="profile" fxLayout="column" fxFlex="50" fxFlex.lt-md fxLayoutGap="16px">
    <mat-card class="general mat-elevation-z4">
        <div fxLayout="row" fxLayoutGap="16px">
            <img [alt]="profile.name + ' ' + profile.surname" mat-card-avatar
                 [src]="profile.picture || './assets/images/logo-mini.png'">
            <div fxLayout="column" fxLayoutGap="8px">
                <div class="full-name" fxLayoutGap="8px">
                    <span>{{profile.name}} {{profile.surname}}</span>
                    <mat-icon *ngIf="profile.recommend" matTooltip="Önerilen" svgIcon="recommend"></mat-icon>
                    <mat-icon *ngIf="profile.boost" matTooltip="Öne Çıkan" svgIcon="trending-up"></mat-icon>
                </div>
                <div fxLayoutGap="8px">
                    <span *ngIf="profile.profession" class="title" matTooltip="Meslek">{{profile.profession}}</span>
                    <mat-icon class="gender" [svgIcon]="profile.sex"
                              [matTooltip]="profile.sex === 'female' ? 'Kadın' : 'Erkek'"></mat-icon>
                    <span *ngIf="profile.age" class="age" [matTooltip]="profile.age + ' yaş'">{{profile.age}} yaş</span>
                </div>
                <div fxLayoutGap="4px">
                    <mat-icon class="location" svgIcon="map-pin"></mat-icon>
                    <span class="title" [matTooltip]="profile.city + '/' + profile.district">
                        {{profile.city}}/{{profile.district}}
                    </span>
                </div>
            </div>
        </div>
        <p *ngIf="profile.description" class="quote">
            <mat-icon svgIcon="left-quote"></mat-icon> {{profile.description}} <mat-icon svgIcon="right-quote"></mat-icon>
        </p>
    </mat-card>

    <mat-card *ngIf="profile.tutor_lectures" class="mat-elevation-z4">
        <mat-chip-list aria-label="Lectures">
            <mat-chip *ngFor="let lecture of profile.tutor_lectures"
                      [matTooltip]="lecture.lecture_theme + ' (' + lecture.lecture_area + ')'">
                {{lecture.lecture_theme}} ({{lecture.lecture_area}})
                <span class="additional">{{lecture.price}} ₺</span>
            </mat-chip>
        </mat-chip-list>
    </mat-card>

    <mat-card *ngIf="profile.tutor_lectures" class="mat-elevation-z4">
        <mat-chip-list aria-label="Regions">
            <mat-chip *ngFor="let region of profile.tutor_suitable_regions"
                      [matTooltip]="region.city + '/' + region.district">
                {{region.city}}/{{region.district}}
            </mat-chip>
        </mat-chip-list>
    </mat-card>
</div>
