<div fxLayout="column" fxLayoutAlign="center center">
    <h4>Teklif Değerlendirme</h4>
    <p class="mat-card-subtitle" style="margin-top: 0" align="center">
        <b>{{data.sender.name}} {{data.sender.surname}}</b> isimli kullanıcının
        <b>{{data.receiver.name}} {{data.receiver.surname}}</b> isimli kullanıcıya
        <b>{{data.tutor_lecture.lecture_theme}} ({{data.tutor_lecture.lecture_area}})</b> dersi için sunulan
        <b>{{data.offer}}₺</b>'lik teklif durumu.
    </p>
</div>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="16px">
        <div *ngIf="data.description" align="center">
            <span>Açıklama</span>
            <p class="mat-small">{{data.description}}</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <span class="offer-status" [ngClass]="{'button-green': data.status === 1, 'button-red': data.status === 99}">
                {{TYPES.OFFER_STATUS[data.status]}}
            </span>
            <span *ngIf="user && user.type === TYPES.TUTOR && user.id === data.receiver.id && data.status === 0">
                Kalan teklif hakkınız: <b>{{remainingBids}}</b>
            </span>
        </div>
        <div *ngIf="user && user.id.toFixed() === data.receiver.id.toFixed()">
            <p class="small">* Bu teklifi onaylarsanız kullanıcı sizin iletişim bilgilerinize ulaşabilecek.</p>
            <p *ngIf="user.type === TYPES.TUTOR" class="small">* Bu teklifi onaylamak için hesabınızda teklif hakkı bulunması gerekiyor.</p>
            <p *ngIf="user.type === TYPES.TUTOR" class="small">* <b>Hizmetler</b> sayfasından daha fazla teklif hakkı ekleyebilirsiniz.</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="user && user.id.toFixed() === data.receiver.id.toFixed()" class="button-green" mat-raised-button
            (click)="makeDecideForOffer(1)" [disabled]="data.status !== 0">
        <mat-icon svgIcon="like"></mat-icon> Onayla
    </button>
    <button *ngIf="user && user.id.toFixed() === data.receiver.id.toFixed()" class="button-red" mat-raised-button
            (click)="makeDecideForOffer(99)" [disabled]="data.status !== 0">
        <mat-icon svgIcon="dislike"></mat-icon> Reddet
    </button>
    <button mat-button mat-raised-button [mat-dialog-close]="false">Kapat</button>
</mat-dialog-actions>
