<md-button class="md-fab float-button" ng-click="suitability.updateSuitabilitySchedule()" ng-disabled="!saveChangesButton">
    <md-icon md-svg-src="save"></md-icon>
</md-button>
<div style="height: 5px;">
    <md-progress-linear md-mode="indeterminate" ng-if="suitability.loading"></md-progress-linear>
</div>
<div layout-gt-sm="row" layout="column" flex>
    <div layout="column" flex>
        <div layout-gt-sm="row" layout="column" flex>
            <md-card class="oz-setting-card md-whiteframe-1dp" flex>
                <md-card-title>{{'REGIONS' | translate}}</md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <div layout="row" flex>
                        <md-input-container flex>
                            <label>{{'CITY' | translate}}</label>
                            <md-select ng-model="suitability.selectedCity">
                                <md-option ng-repeat="(city, index) in suitability.cities" ng-value="city">
                                    {{city}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{'DISTRICT' | translate}}</label>
                            <md-select ng-model="suitability.selectedDistrict" ng-disabled="!suitability.cities[suitability.selectedCity]">
                                <md-option ng-repeat="district in suitability.cities[suitability.selectedCity]"
                                           ng-value="district" ng-selected="$index == 0 ? true : false">
                                    {{district}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-icon-button" ng-click="suitability.addRegion()"
                                   ng-disabled="!suitability.cities[suitability.selectedCity]">
                            <md-tooltip md-direction="top">{{'ADD' | translate}}</md-tooltip>
                            <md-icon md-svg-icon="add-button"></md-icon>
                        </md-button>
                    </div>
                    <div layout="row">
                        <md-chips ng-model="suitability.region" name="region" readonly="true" md-removable="true">
                            <md-chip-template>
                                <b>{{$chip.city}}</b> - {{$chip.district}}
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="oz-setting-card md-whiteframe-1dp" flex>
                <md-card-title>{{'LOCATIONS' | translate}}</md-card-title>
                <md-divider></md-divider>
                <md-card-content layout="row" layout-align="space-between center">
                    <div layout="column">
                    <div ng-repeat="(option, value) in suitability.location">
                        <md-switch ng-model="suitability.location[option]" aria-label="option" ng-if="$index<3" ng-change="suitability.activateSaveButton()">
                            {{option | translate}}
                        </md-switch>
                    </div>
                    </div>
                    <div layout="column">
                    <div ng-repeat="(option, value) in suitability.location">
                        <md-switch ng-model="suitability.location[option]" aria-label="option" ng-if="$index>2" ng-change="suitability.activateSaveButton()">
                            {{option | translate}}
                        </md-switch>
                    </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div layout-gt-sm="row" layout="column" flex>
            <md-card class="oz-setting-card md-whiteframe-1dp" flex>
                <md-card-title>{{'COURSE_TYPE' | translate}}</md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <div layout="column">
                        <div ng-repeat="(option, value) in suitability.courseType">
                            <md-switch ng-model="suitability.courseType[option]" aria-label="option" ng-change="suitability.activateSaveButton()">
                                {{option | translate}}
                            </md-switch>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="oz-setting-card md-whiteframe-1dp" flex>
                <md-card-title>{{'FACILITIES' | translate}}</md-card-title>
                <md-divider></md-divider>
                <md-card-content>
                    <div layout="column">
                        <div ng-repeat="(option, value) in suitability.facility">
                            <md-switch ng-model="suitability.facility[option]" aria-label="option" ng-change="suitability.activateSaveButton()">
                                {{option | translate}}
                            </md-switch>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div layout="row">
        <md-card class="oz-setting-card md-whiteframe-1dp" flex>
            <md-card-title>{{'SUITABILITY_SCHEDULE' | translate}}</md-card-title>
            <md-divider></md-divider>
            <md-card-content>
                <oz-suitability-schedule on-click="suitability.updateDayHourTableData"></oz-suitability-schedule>
            </md-card-content>
        </md-card>
    </div>
</div>