<mat-card class="mat-elevation-z4">
    <div fxLayout="row">
        <div fxLayout="column">
            <div mat-card-avatar></div>
            <h5>Rashid Mammadov</h5>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon svgIcon="male"></mat-icon>
                <span>9.5</span>
                <span>27 yaş</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod dui velit, ac imperdiet sem lacinia vitae.</p>
        </div>
    </div>
</mat-card>
