<mat-card *ngIf="data" class="info-card mat-elevation-z4">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <div class="general" fxLayout="column" fxLayoutAlign="center center" fxFlex="45">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" fxFlex>
                <mat-icon *ngIf="data.sex" class="gender" [svgIcon]="data.sex"
                          [matTooltip]="data.sex === 'female' ? 'Kadın' : 'Erkek'"></mat-icon>
                <img [alt]="data.name + ' ' + data.surname" mat-card-avatar
                     [src]="data.picture || './assets/images/logo-mini.png'"/>
                <span *ngIf="data.age" class="age" [matTooltip]="data.age + ' yaş'">{{data.age}}<br>yaş</span>
            </div>
            <p *ngIf="data.profession" class="title" matTooltip="Meslek">{{data.profession}}</p>
            <p class="full-name">{{data.name}} {{data.surname}}</p>
            <div *ngIf="data.average" class="overall" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="32px">
                <div *ngIf="data.average.ranking_avg" class="ranking"
                     [matTooltip]="data.average.ranking_avg + ' Ortalama Puan'">
                    {{data.average.ranking_avg}}<br>
                    <p class="sub">ortalama</p>
                </div>
                <div *ngIf="data.average.experience_avg" class="experience"
                     [matTooltip]="data.average.experience_avg + ' Yıl Ortalama Deneyim'">
                    {{data.average.experience_avg}}<br>
                    <p class="sub">yıl deneyim</p>
                </div>
                <div *ngIf="data.average.price_avg" class="experience"
                     [matTooltip]="data.average.price_avg + ' ₺ Ortalama Ücret'">
                    {{data.average.price_avg}}<br>
                    <p class="sub">₺ ücret</p>
                </div>
            </div>
            <button *ngIf="user && user.type === TYPES.TUTORED" mat-raised-button mat-stroked-button
                    (click)="openAskOfferDialog()">Teklif Al</button>
            <p *ngIf="data.description" class="quote">
                <mat-icon svgIcon="left-quote"></mat-icon> {{data.description}} <mat-icon svgIcon="right-quote"></mat-icon>
            </p>
        </div>
        <div class="detail" fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
            <div fxLayout="column" fxLayoutGap="8px">
                <div *ngIf="data.lectures">
                    <p class="label">Dersler</p>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip *ngFor="let lecture of data.lectures"
                                  [matTooltip]="lecture.lecture_theme + ' (' + lecture.lecture_area + ')'">
                            {{lecture.lecture_theme}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div *ngIf="data.regions">
                    <p class="label">İl/İlçeler</p>
                    <mat-chip-list aria-label="Regions">
                        <mat-chip *ngFor="let region of data.regions"
                                  [matTooltip]="region.city + '/' + region.district">
                            {{region.city}}/{{region.district}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
<!--            <div class="facility-icons" fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%">-->
<!--                <mat-icon svgIcon="free-trial" matTooltip="Ücretsiz Deneme Dersi"></mat-icon>-->
<!--                <mat-icon svgIcon="group-discount" matTooltip="Grup Dersi İndirimi"></mat-icon>-->
<!--                <mat-icon svgIcon="package-discount" matTooltip="Grup Dersi İndirimi"></mat-icon>-->
<!--            </div>-->
        </div>
    </div>
</mat-card>
