<div fxLayout="column" fxLayoutGap="16px">
    <mat-card class="mat-elevation-z4" fxFlex>
        <mat-card-content>
            <form ngNoForm fxLayout="column" [formGroup]="searchForm">
                <div *ngIf="!changeMode" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                    <mat-chip-list aria-label="Filters">
                        <mat-chip (click)="changeMode = true">
                            {{searchForm.controls.city.value?.city_name}}/{{searchForm.controls.district.value}}
                        </mat-chip>
                        <mat-chip (click)="changeMode = true">
                            {{searchForm.controls.lecture_theme.value?.lecture_theme}} ({{searchForm.controls.lecture_area.value?.lecture_area}})
                        </mat-chip>
                        <mat-chip *ngIf="searchForm.controls.min_price.value" (click)="changeMode = true">
                            Minimum Fiyat: {{searchForm.controls.min_price.value}}₺
                        </mat-chip>
                        <mat-chip *ngIf="searchForm.controls.max_price.value" (click)="changeMode = true">
                            Maksimum Fiyat: {{searchForm.controls.max_price.value}}₺
                        </mat-chip>
                        <mat-chip *ngIf="user && user.type === TYPES.TUTORED" (click)="changeMode = true">
                            Tercih Edilen Cinsiyet: {{gendersMap[searchForm.controls.sex.value]}}
                        </mat-chip>
                        <mat-chip *ngIf="user && user.type === TYPES.TUTORED" (click)="changeMode = true">
                            Tercih Edilen Sıralama: {{ordersMap[searchForm.controls.order.value]}}
                        </mat-chip>
                    </mat-chip-list>
                    <button mat-button mat-raised-button (click)="changeMode = true">
                        Filteleri Değiş  <mat-icon svgIcon="filter"></mat-icon>
                    </button>
                </div>
                <div *ngIf="changeMode" fxLayout="row" fxLayout.lt-sm="column" fxFlex fxLayoutGap="16px" fxLayoutGap.lt-md="8px">
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>İl</mat-label>
                        <mat-select formControlName="city" (selectionChange)="changeCity()">
                            <mat-option *ngFor="let city of cities" [value]="city">
                                {{city.city_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="searchForm.controls.city.valid" fxFlex appearance="outline">
                        <mat-label>İlçe</mat-label>
                        <mat-select formControlName="district">
                            <mat-option *ngFor="let district of searchForm.controls.city.value?.districts"
                                        [value]="district">
                                {{district}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Ders Alanı</mat-label>
                        <mat-select formControlName="lecture_area" (selectionChange)="changeLectureArea()">
                            <mat-option *ngFor="let lecture of lectures" [value]="lecture">
                                {{lecture.lecture_area}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="searchForm.controls.lecture_area.valid" fxFlex appearance="outline">
                        <mat-label>Ders Konusu</mat-label>
                        <mat-select formControlName="lecture_theme">
                            <mat-option *ngFor="let theme of searchForm.controls.lecture_area.value?.lecture_themes"
                                        [value]="theme">
                                {{theme.lecture_theme}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="changeMode && user && user.type === TYPES.TUTORED" fxLayout="row" fxLayout.lt-sm="column"
                      fxFlex fxLayoutGap="16px" fxLayoutGap.lt-md="8px">
                    <mat-form-field *ngIf="searchForm.controls.lecture_area.valid" fxFlex appearance="outline">
                        <mat-label>Minimum Fiyat (₺)</mat-label>
                        <input matInput type="number" [min]="0" [max]="9999" formControlName="min_price">
                    </mat-form-field>

                    <mat-form-field *ngIf="searchForm.controls.lecture_area.valid" fxFlex appearance="outline">
                        <mat-label>Maksimum Fiyat (₺)</mat-label>
                        <input matInput type="number" [min]="0" [max]="9999" formControlName="max_price">
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Cinsiyet</mat-label>
                        <mat-select formControlName="sex">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Sıralama</mat-label>
                        <mat-select formControlName="order">
                            <mat-option *ngFor="let order of orders" [value]="order.value">
                                {{order.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="changeMode" fxLayoutAlign="end">
                    <button mat-button mat-raised-button [disabled]="!searchForm.valid" (click)="search(false, true)">
                        Ara <mat-icon svgIcon="search"></mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <app-grid-list fxHide.lt-md fxFlex="50" [data]="searchResult" [column]="1" [item]="'app-info-card'"></app-grid-list>
        <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100" fxLayoutGap="16px">
            <mat-card class="mat-elevation-z4 overall-report" fxLayout="column" fxLayoutGap="16px">
                <span class="light-gray">Seçili semt ve ders filtreleri ile</span>
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex>
                        <span class="mat-small">Toplam</span>
                        <h2 *ngIf="reports">{{reports.total_count}} ders veren</h2>
                    </div>
                    <div fxLayout="column" fxFlex>
                        <span class="mat-small">Ortalama Fiyat</span>
                        <h2 *ngIf="reports">{{reports.average_price}} ₺</h2>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex>
                        <span class="mat-small">Cinsiyet Dağılımı</span>
                        <app-pie-chart *ngIf="reports" fxFlex [data]="reports.gender_distribution"></app-pie-chart>
                    </div>
                    <div fxLayout="column" fxFlex>
                        <span class="mat-small">Ders Sayısı / Fiyat Aralığı</span>
                        <app-bar-chart-horizontal *ngIf="reports" fxFlex [data]="reports.price_distribution"></app-bar-chart-horizontal>
                    </div>
                </div>
            </mat-card>
            <app-carousel [title]="'Bu Bölgede Önerilenler'" [data]="recommends"></app-carousel>
        </div>
        <app-grid-list fxHide.gt-md fxFlex [data]="searchResult" [column]="1" [item]="'app-info-card'"></app-grid-list>
    </div>

    <button class="announcement-button" matTooltip="İlan Olarak Kaydet" mat-fab [disabled]="!searchForm.valid"
            (click)="openAddAnnouncementBottomSheet()" *ngIf="user && user.type === TYPES.TUTORED">
        <mat-icon svgIcon="announcement"></mat-icon>
    </button>
</div>
