<div fxLayout="row" fxLayoutGap="16px">
    <div class="sidenav" fxLayout="column" fxHide.lt-md>
        <a class="sidenav-button" routerLinkActive="active" routerLink="/app/home">
            <mat-icon svgIcon="home"></mat-icon>
            <p>Ana Sayfa</p>
        </a>
        <a class="sidenav-button" routerLinkActive="active" routerLink="/app/paid-service">
            <mat-icon svgIcon="star"></mat-icon>
            <p>Hizmetler</p>
        </a>
        <a class="sidenav-button" routerLinkActive="active" routerLink="/app/lectures">
            <mat-icon svgIcon="paperclip"></mat-icon>
            <p>Dersler</p>
        </a>
        <a class="sidenav-button" routerLinkActive="active" routerLink="/app/suitability">
            <mat-icon svgIcon="sliders"></mat-icon>
            <p>Uygunluk</p>
        </a>
    </div>
    <div class="inner-container" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>
