<div fxLayout="row" fxLayoutGap="16px">
    <div *ngIf="buttons" class="sidenav" fxLayout="column" fxHide.lt-md>
        <a *ngFor="let button of buttons" class="sidenav-button" routerLinkActive="active" [routerLink]="button.routerLink">
            <mat-icon [matBadgeHidden]="!button.badgeOffersCount" [matBadge]="offersCount.toString()" matBadgeSize="small"
                      matBadgePosition="after" [svgIcon]="button.icon"></mat-icon>
            <p>{{button.title}}</p>
        </a>
    </div>
    <div class="inner-container" fxFlex>
        <app-missing-fields></app-missing-fields>
        <router-outlet></router-outlet>
    </div>
</div>
