<div fxLayout="column">
    <form ngNoForm fxLayout="column" [formGroup]="searchForm">
        <mat-form-field fxFlex.gt-md appearance="outline">
            <mat-label>İl</mat-label>
            <mat-select formControlName="city" (selectionChange)="search(true)">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{city.city_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <app-grid-list [data]="searchResult" [column]="2" [item]="'app-info-card'"></app-grid-list>
    <app-warning-messages *ngIf="!searchResult || !searchResult.length"
                          [message]="'NO_RESULT_WITH_GIVEN_FILTERS'"></app-warning-messages>
</div>
