<mat-card fxFlexOffset.gt-md="20" fxFlex.gt-md="60" class="mat-elevation-z4">
    <div fxLayout="column" fxLayoutGap="16px">
        <b>Mesafi Satış Sözleşmesi</b>

        <b>MADDE 1- Taraflar</b>
        <br>
        <b>1.2- Satıcı</b>
        <p><b>Satıcı Ad-Soyad: </b> <span>RASHİD MAMMADOV BİLİŞİM ÇÖZÜMLERİ Ş.F.</span> (bundan böyle "Satıcı" olarak anılacaktır.)</p>
        <p><b>Satıcı T.C: </b> <span>99466305934</span></p>
        <p><b>Satıcı Adres: </b> <span>Ergene Mah. 523 Sk. No: 14/22 Daire: 4</span></p>
        <p><b>Satıcı Telefon: </b> <span>+905079708807</span></p>
        <p><b>Satıcı E-mail: </b> <span>info@ozelden.com</span></p>
        <br>
        <b>1.2- Alıcı</b>
        <p><b>Alıcı Ad-Soyad: </b> <span>ozelden.com kullanıcısı ad-soyadı</span> (bundan böyle "Alıcı" olarak anılacaktır.)</p>
        <p><b>Alıcı T.C: </b> <span>ozelden.com kullanıcısı T.C. numarası</span></p>
        <p><b>Alıcı Adres: </b> <span>ozelden.com kullanıcısı adresi</span></p>
        <p><b>Alıcı Telefon: </b> <span>ozelden.com kullanıcısı telefon numarası</span></p>
        <p><b>Alıcı E-mail: </b> <span>ozelden.com kullanıcısı email adresi</span></p>
        <br>
        <b>MADDE 2- Sözleşme Konusu</b>
        <p>İşbu mesafeli satış sözleşmesi (bundan sonra "Sözleşme" olarak anılacaktır) alıcının  satın almak istediği ve
        aşağıda özellikleri belirtilen hizmetin satışına ilişkin olarak 6502 sayılı Tüketicinin Korunması Hakkında
        Kanun'daki hükümler gereğince alıcı ve satıcı taraf arasındaki hak ve yükümlülüklerin belirlenmesine ilişkindir.</p>

        <b>MADDE 3- Sözleşme Konusu Hizmetin Özellikleri, Bedeli ve Ödeme Şekli</b>
        <p><b>3.1- </b>Sözleşme konusu hizmetin özellikleri aşağıda belirtildiği gibidir:</p>
        <p style="padding-left: 30px;">Satıcı, ozelden.com kullanıcısına hizmetler sayfasında belirtilen teklif hakkı,
        öne çıkma ve önerilme hizmetlerinden birini veya birkaçını verecek.</p>
        <p><b>3.2- </b>Sözleşme bedeli taraflarca tüm vergiler dahil en az 1.5 (bir nokta beş) türk lirasından başlayarak
        seçilecek olan hizmet paketi değerinde değişiklik olacak şekilde kararlaştırılmıştır.
        Alıcı taraf, 1 gün içinde kararlaştırılan bedeli ödemelidir. Aksi halde satıcı tarafın kararlaştırılan hizmeti
        ifa yükümlülüğü ortadan kalkar.</p>
        <p>Sözleşme bedelinin aşağıda belirtilen ödeme şekli ile ödenmesi kararlaştırılmıştır:</p>
        <p style="padding-left: 30px;">Online POS</p>

        <b>MADDE 4- Sözleşmenin İfa Yeri ve Teslim Şekli</b>
        <p>Sözleşmenin alıcı tarafından onaylanması ile yürürlüğe girdiği kabul edilir. Alıcının satıcıdan satın almış
        olduğu hizmetin ifası ile satıcı borcunu yerine getirmiş olur.</p>
        <p>Sözleşme konusu hizmetin ifa edileceği adres aşağıda belirtildiği gibidir:</p>
        <p><b>İfa Adresi:</b></p>
        <p style="padding-left: 30px;">ozelden.com web sitesi</p>

        <b>MADDE 5- Hizmetin İfasına İlişkin Masraflar</b>
        <p>Sözleşme konusu hizmetin ifasına ilişkin masraflar alıcıya aittir. Sözleşmenin ifası, alıcı tarafından sözleşme
        bedelinin satıcıya ödenmesi ile birlikte en fazla 7 gün içinde satıcı tarafından gerçekleştirilir.
        Alıcının kararlaştırılan bedeli sözleşme imzalandıktan 1 gün içinde ödememiş olması halinde,
        satıcı tarafın ifa yükümü ortadan kalkar.</p>

        <b>MADDE 6- Mücbir Sebepler</b>
        <p>Sözleşmenin imzalandığı tarihte mevcut olmayan veya öngörülemeyen, tarafların kontrolleri dışında gelişen,
        ortaya çıkması ile taraflardan birinin veya ikisinin sözleşme ile yüklendikleri borç ve sorumluluklarını kısmen
        veya tamamen yerine getirmelerini veya bunları kararlaştırılan zamanda yerine getirmelerinin önüne geçen durumlar
        mücbir sebep olarak nitelendirilir. Mücbir sebep hallerinin (doğal afet, savaş, terör, ayaklanma, değişen mevzuat
        hükümleri, el koyma, grev, lokavt, üretim tesislerinde önemli ölçüde arıza) var olması durumunda, mücbir sebepten
        dolayı sözleşmeden doğan borcunu ifa edemeyen taraf diğer tarafa durumu derhal  yazılı olarak bildirecektir.</p>

        <b> MADDE 7- Cayma Hakkı</b>
        <p>Alıcı, 14 gün içinde bir gerekçe göstermekle ve cezai şart ödemeksizin bu sözleşmeden cayma hakkına sahiptir.
        Cayma hakkının kullanıldığına dair bildirimin bu süre içinde satıcı tarafa yöneltilmiş olması yeterlidir.</p>
        <p>Alıcı teslim aldığı taşınır malı, olağan bir gözden geçirmenin gerektirdiği ölçüde kullanabilir.
        Aksi halde cayma hakkının kullanılması mümkün değildir.</p>
        <p>Cayma hakkının kullanılması halinde kargo bedeli satıcı tarafından karşılanır.</p>

        <b>MADDE 8- Uyuşmazlıkların Çözümü</b>
        <p>İşbu sözleşmeden doğan uyuşmazlıkların çözümü için, Gümrük ve Ticaret Bakanlığınca ilan edilen değere kadar,
        alıcının hizmeti  satın aldığı veya satıcının ikametgahının bulunduğu yerdeki Tüketici Hakem Heyeti,
        bedeli Bakanlıkça belirlenen değer dışında kalan uyuşmazlıklarda ise Tüketici Mahkemeleri yetkilidir.
        6502 sayılı Tüketicinin Korunması Hakkında Kanun madde 68 uyarınca belirtilen alt ve üst limitler doğrultusunda
        tüketici talepleri hakkında ilçe veya il tüketici hakem heyetleri yetkilidir.</p>
        <p><b>Sözleşme İmazalama Tarihi ve Geçerliliği:</b> ozelden.com kullanıcısının kayıt tarihinden itibarendir.
        Kullanıcı ozelden.com'a kayıt olduğu andan bu sözleşmeyi okumuş, kabul etmiş ve imzalamış sayılır.</p>
    </div>
</mat-card>
