<mat-card fxFlexOffset.gt-md="20" fxFlex.gt-md="60" class="mat-elevation-z4">
    <div fxLayout="column" fxLayoutGap="16px">
        <b>Özel ders verecek olan kişiler aşağıdaki ücretli hizmetlerden yararlanabilirler. Ücretlere KDV dahildir.</b>
        <p><b>Teklifler</b> ders arayanlara kolayca teklif sunmanı veya gelen tekliflere onay vermenizi sağlamaktadır.</p>
        <ul>
            <li>1 adet - 1.5 ₺</li>
            <li>3 adet - 3 ₺</li>
            <li>5 adet - 4.5 ₺</li>
            <li>10 adet - 8 ₺</li>
            <li>30 adet - 21 ₺</li>
            <li>50 adet - 30 ₺</li>
            <li>100 adet - 50 ₺</li>
        </ul>

        <p><b>Üste çıkarma</b> ile aramalarda üst sıralarda yer alırsınız, isminizin yanında
            <mat-icon svgIcon="trending-up"></mat-icon> (Öne Çıkan) işareti çıkarır ve
            ders arayanların size kolayca ulaşmasını sağlar.</p>
        <ul>
            <li>1 gün - 3 ₺</li>
            <li>3 gün - 6 ₺</li>
            <li>7 gün - 9 ₺</li>
            <li>15 gün - 12 ₺</li>
            <li>30 gün - 15 ₺</li>
        </ul>

        <p><b>Önerilme</b> sayesinde sistem sizi ders arayanlara otomatik olarak önerir
            (bildirim ve email gönderir), isminizin yanında
            <mat-icon svgIcon="recommend"></mat-icon> (Önerilen) işareti çıkarır
            ve iletişim bilgilerinizi görebilirler.</p>
        <ul>
            <li>1 gün - 6 ₺</li>
            <li>3 gün - 12 ₺</li>
            <li>7 gün - 18 ₺</li>
            <li>15 gün - 24 ₺</li>
            <li>30 gün - 30 ₺</li>
        </ul>
    </div>
</mat-card>
