<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row">
        <mat-card class="mat-elevation-z4" fxFlex.gt-md="20" fxLayout="column"
                  fxLayoutAlign="center center" fxLayoutGap="16px">
            <mat-icon class="large-icon light-gray" svgIcon="user-plus"></mat-icon>
            <button mat-raised-button (click)="openNewStudentDialog()">Yeni Öğrenci Ekle</button>
        </mat-card>
    </div>
    <app-grid-list [column]="5" [data]="students" [item]="'app-student-card'"></app-grid-list>
    <app-warning-messages *ngIf="!students || !students.length" [message]="'NO_STUDENTS_AS_PARENT'"></app-warning-messages>
</div>
