<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
    <div fxFlex.gt-md="50">
        <p class="custom-title">İhtiyacınıza Uygun Paketinizi Oluşturun</p>
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                    <mat-checkbox [(ngModel)]="bid.checked" (change)="checkTotalPrice()"
                                  fxFlex="40">Teklifler</mat-checkbox>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Teklif Sayısı</mat-label>
                        <mat-select [(ngModel)]="bid.selected" [disabled]="!bid.checked"
                                    (selectionChange)="checkTotalPrice()">
                            <mat-option *ngFor="let item of bid.list" [value]="item.key">
                                {{item.value}} adet
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                    <mat-checkbox [(ngModel)]="boost.checked" (change)="checkTotalPrice()"
                                  fxFlex="40">Üste Çıkarma</mat-checkbox>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Gün</mat-label>
                        <mat-select [(ngModel)]="boost.selected" [disabled]="!boost.checked"
                                    (selectionChange)="checkTotalPrice()">
                            <mat-option *ngFor="let item of boost.list" [value]="item.key">
                                {{item.value}} gün
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
                    <mat-checkbox [(ngModel)]="recommend.checked" (change)="checkTotalPrice()"
                                  fxFlex="40">Önerilme</mat-checkbox>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Gün</mat-label>
                        <mat-select [(ngModel)]="recommend.selected" [disabled]="!recommend.checked"
                                    (selectionChange)="checkTotalPrice()">
                            <mat-option *ngFor="let item of recommend.list" [value]="item.key">
                                {{item.value}} gün
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions fxLayoutAlign="space-between center">
              <p><b>Toplam Ücret: <s *ngIf="totalPrice > 0">{{totalPrice * 2}} ₺</s> {{totalPrice}} ₺</b> (KDV Dahil)</p>
                <button mat-button mat-raised-button color="primary" [disabled]="!totalPrice" (click)="openDepositDialog()">Ödeme Yap</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex.gt-md="50">
        <p class="custom-title">Aktif Paketleriniz</p>
        <mat-card class="mat-elevation-z4 active-paid-services">
            <mat-card-content *ngIf="activePaidService">
                <div class="paid-service" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="column" fxFlex="40">
                        <span>Teklif Sayısı</span>
                        <h3>{{activePaidService.bid || 0}}</h3>
                    </div>
                    <span class="info" fxFlex="60">
                        <mat-icon svgIcon="info"></mat-icon>
                        Teklifler ders arayanlara kolayca teklif sunmanı veya gelen tekliflere onay vermenizi sağlamaktadır.
                    </span>
                </div>
                <div class="paid-service" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="column" fxFlex="40">
                        <span>Üste Çıkarma Geçerlilik Tarihi</span>
                        <h3>{{activePaidService.readableBoost}}</h3>
                    </div>
                    <span class="info" fxFlex="60">
                        <mat-icon svgIcon="info"></mat-icon>
                        Üste çıkarma ile aramalarda üst sıralarda yer alırsınız, isminizin yanında
                                  <mat-icon svgIcon="trending-up"></mat-icon> (Öne Çıkan) işareti çıkarır ve
                                  ders arayanların size kolayca ulaşmasını sağlar.
                    </span>
                </div>
                <div class="paid-service" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="column" fxFlex="40">
                        <span>Önerilme Geçerlilik Tarihi</span>
                        <h3>{{activePaidService.readableRecommend}}</h3>
                    </div>
                    <span class="info" fxFlex="60">
                        <mat-icon svgIcon="info"></mat-icon>
                        Önerilme sayesinde sistem sizi ders arayanlara otomatik olarak önerir
                                  (bildirim ve email gönderir), isminizin yanında
                                  <mat-icon svgIcon="recommend"></mat-icon> (Önerilen) işareti çıkarır
                                  ve iletişim bilgilerinizi görebilirler.
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
