.active-paid-services {
    .paid-service {
        margin-bottom: 8px;
        .info {
            font-size: 14px;
            color: #909090;
            mat-icon {
                width: 14px;
                height: 14px;
            }
        }
    }
}
