<md-card class="oz-setting-card md-whiteframe-1dp" flex-gt-sm="25">
    <md-card-content class="cursor-pointer" ng-click="Class.openClassDialog('create', null)">
        <div layout="column" layout-align="center center">
            <md-icon class="large-icon" md-svg-icon="add-button"></md-icon>
            <p>{{::'CREATE_NEW_CLASS' | translate}}</p>
        </div>
    </md-card-content>
</md-card>
<card-label>{{::'MY_CLASSES' | translate}}</card-label>
<div>
    <oz-class-card ng-repeat="class in Class.classList" ng-model="class" on-operation="Class.openClassDialog"></oz-class-card>
</div>