<div layout="column" flex>
    <card-label>{{::'ADD_LECTURE' | translate}}</card-label>
    <md-card class="oz-setting-card md-whiteframe-1dp" flex>
        <md-card-content>
            <div layout-gt-md="row" layout="column" flex>
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>{{::'LECTURE_AREA' | translate}}</label>
                        <md-select ng-model="Lectures.selectedLectureArea">
                            <md-option ng-repeat="area in Lectures.lectures" ng-value="area" ng-selected="$index==0">
                                {{::area.base | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{::'LECTURE_THEME' | translate}}</label>
                        <md-select ng-model="Lectures.selectedLectureTheme">
                            <md-option ng-repeat="theme in Lectures.selectedLectureArea.link" ng-value="theme" ng-selected="$index==0">
                                {{::theme.base | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>{{::'EXPERIENCE' | translate}}</label>
                        <md-select ng-model="Lectures.selectedExperience">
                            <md-option ng-repeat="year in Lectures.experienceList" ng-value="year" ng-selected="$index==0">
                                {{::year}} {{::'YEAR' | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{::'PRICE' | translate}} (₺)</label>
                        <input type="number" step="any" min="1" max="99999" ng-model="Lectures.selectedPrice">
                    </md-input-container>
                    <md-button class="md-raised" ng-click="Lectures.addLecture()" ng-disabled="!Lectures.selectedPrice">
                        {{::'ADD' | translate}}
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <card-label>{{::'LECTURES_LIST' | translate}}</card-label>
    <md-card class="oz-setting-card md-whiteframe-1dp" flex>
        <md-card-content>
            <md-list class="scroll-left" flex>
                <div class="min-width-md">
                    <md-list-item class="ozelden-list header">
                        <p style="width:25%">{{::'LECTURE_AREA' | translate}}</p>
                        <p style="width:25%">{{::'LECTURE_THEME' | translate}}</p>
                        <p style="width:10%">{{::'EXPERIENCE' | translate}}</p>
                        <p style="width:10%" align="right">{{::'PRICE' | translate}}</p>
                        <p style="width:10%" align="center">{{::'DIFF' | translate}}</p>
                        <p style="width:10%" align="left">{{::'AVERAGE' | translate}}</p>
                        <p style="width:10%" align="center">{{::'OPERATION' | translate}}</p>
                    </md-list-item>
                    <div class="ozelden-list body" ng-if="Lectures.lecturesList">
                        <md-list-item style="border-bottom: 1px solid lightgray;" ng-repeat="lecture in Lectures.lecturesList">
                            <p style="width:25%">{{::lecture.lectureArea | translate}}</p>
                            <p style="width:25%">{{::lecture.lectureTheme | translate}}</p>
                            <p style="width:10%">{{::lecture.experience}} {{::'YEAR' | translate}}</p>
                            <p style="width:10%" align="right">{{lecture.price}} {{::lecture.currency | translate}}</p>
                            <p style="width:10%" align="center" ng-init="diff = Lectures.findLectureAverage(lecture)">
                                <md-tooltip md-direction="top">{{::diff.status | translate}}</md-tooltip>
                                <md-icon class="mid-icon" style="fill: {{::diff.fill}}" md-svg-icon="{{::diff.icon}}"></md-icon>
                            </p>
                            <p style="width:10%" align="left">{{::lecture.average}} {{::lecture.currency | translate}}</p>
                            <p style="width:10%" align="center">
                                <md-button class="md-icon-button" ng-click="Lectures.removeLecture($event, lecture)">
                                    <md-tooltip md-direction="top">{{::'REMOVE' | translate}}</md-tooltip>
                                    <md-icon md-svg-icon="remove-button"></md-icon>
                                </md-button>
                            </p>
                        </md-list-item>
                    </div>
                </div>
                <div class="no-data" ng-if="Lectures.lecturesList.length == 0 && !loadingOperation">
                    {{::'NO_DATA' | translate}}
                </div>
            </md-list>
        </md-card-content>
    </md-card>
</div>