.header {
    min-height: 400px;
    padding: 0 64px;
    .header-text {
        h1 {
            color: #722947; font-size: 48px;
            .lecture { color: #d3a67d; position: absolute; }
        }
        margin: 64px;
    }
    .header-image {
        img {
            width: 500px;
            height: auto;
            animation: float 3s ease-out infinite;
        }
    }
}

.body {
    color: #555555;
    padding: 0 128px;
    .info-card {
        text-align: center;
        .icon {
            position: absolute;
            top: -24px;
            left: calc(50% - 24px);
            background: #722947;
            width: 48px;
            height: 48px;
            color: #d3a67d;
            border-radius: 50%;
        }
        .divider {
            margin: auto;
            width: 150px;
            height: 0.1px;
            background: #f0f0f0;
            box-shadow: 0 0 8px 0 #909090;
        }
        p { font-size: 14px; }
    }
    .how-works {
        .step {
            .image {
                padding: 16px;
                img { max-width: 400px; height: auto; width: 100%; }
            }
            .description { padding: 16px; max-width: 400px; }
        }
    }
}

.footer {
    box-shadow: inset 0 8px 16px 0 #555555;
    background-color: #722947;
    color: #f0f0f0;
    font-size: 14px;
    padding: 24px 16px;
    height: auto;
    width: 100%;
    position: relative;
    left: -16px;
    bottom: -16px;
    text-align: center;
    img { height: 32px; width: auto; }
    .mat-divider { border-top-color: rgba(211,166,121,0.3) !important; }
    a { color: #f0f0f0; text-decoration: none; }
    .mat-icon { height: 16px; width: 16px; margin: 16px; }
}

.logo-pack {
    padding: 8px 8px 4px 8px; border-radius: 4px; max-width: 250px; background-color: #fff; margin: 8px 8px 4px calc(50% - 125px);
    img { width: 100%; height: auto; }
}

.slide-in {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.slide-out {
    -webkit-animation-name: slideOut;
    animation-name: slideOut;
}

@-webkit-keyframes float {
    50% {
        -ms-transform: translate(0, 20px);
        -moz-transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
}

@keyframes float {
    50% {
        -ms-transform: translate(0, 20px);
        -moz-transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
}

@-webkit-keyframes slideIn {
    0% { opacity: 0; -webkit-transform: translateY(-16px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes slideIn {
    0% { opacity: 0; -webkit-transform: translateY(-16px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideOut {
    0% { opacity: 1; -webkit-transform: translateY(0); }
    100% { opacity: 0; -webkit-transform: translateY(16px); }
}

@keyframes slideOut {
    0% { opacity: 1; -webkit-transform: translateY(0); }
    100% { opacity: 0; -webkit-transform: translateY(16px); }
}

@media (max-width: 960px) {
    .header {
        background-size: cover;
        min-height: 200px;
        padding: 16px;
        .header-text {
            h1 { font-size: 32px; }
            margin: 0;
        }
    }
    .body {
        padding: 16px;
    }
}
