<div>
    <div class="header" fxLayout="row">
        <div class="header-text" fxFlex.gt-md>
            <h1><span class="animated lecture">{{lectures[0]}}</span><br/>
                özel ders almanın<br/>
                en akıllı yolu</h1>
          <div fxLayoutGap="16px">
              <a mat-raised-button [routerLink]="'/register'" color="primary">Hemen Katıl</a>
              <a mat-raised-button [routerLink]="'/register'" color="accent">Öğretmen Ol</a>
          </div>
        </div>
        <div fxHide.lt-md class="header-image" fxFlex.gt-md>
            <img alt="özel ders" src="./assets/landing/graduation.svg">
        </div>
    </div>
    <div class="body" fxLayout="column" fxLayoutGap="16px">
        <div *ngIf="topCities && topCities.length" fxLayoutAlign="center center">
            <h3>En Çok Ders Verilen 3 Şehir</h3>
        </div>
        <div *ngIf="topCities && topCities.length" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlexAlign="center center">
            <mat-card routerLink="/register" *ngFor="let item of topCities" class="link top-city mat-elevation-z4" fxFlex.gt-md
                      [ngStyle]="{'background': 'linear-gradient(rgba(85, 85, 85, 0.5), rgba(85, 85, 85, 0.5)), url(https://images.ozelden.com/cities/' + item.city + '.jpg)',
                          'background-size': 'cover', 'background-position': 'center center'}">
                <h3>{{item.city}}</h3>
                <p>{{item.total * 11}} Öğretmen</p>
            </mat-card>
        </div>

        <div *ngIf="topLectures && topLectures.length" fxLayoutAlign="center center">
            <h3>En Çok Ders Verilen 3 Alan</h3>
        </div>
        <div *ngIf="topLectures && topLectures.length" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlexAlign="center center">
            <mat-card routerLink="/register" *ngFor="let item of topLectures" class="link top-lecture mat-elevation-z4" fxFlex.gt-md>
                <h3>{{item.lecture_theme}}</h3>
                <p>{{item.total * 12}} Öğretmen</p>
            </mat-card>
        </div>

        <div *ngIf="topLectures && topLectures.length" fxLayoutAlign="center center">
            <h3>Önerilen Öğretmenler</h3>
        </div>
        <app-grid-list [data]="recommends" [column]="2" [item]="'app-info-card'"></app-grid-list>

        <div class="how-works" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <h3>Nasıl Çalışır?</h3>
            <div class="step" fxLayout="row" fxLayout.lt-md="column">
                <div class="image">
                  <img alt="Kayıt" src="./assets/landing/sign-up.svg">
                </div>
                <div class="description" align="right">
                    <h3>Hesabınızı Oluşturun</h3>
                    <p>Kolay bir şekilde bilgilerinizi girerek hesabınızı oluşturun ve özelden ailesine katılın.</p>
                </div>
            </div>
            <div class="step" fxLayout="row" fxLayout.lt-md="column">
                <div class="description" align="left">
                    <h3>Öğretmen Ara</h3>
                    <p>İl, ilçe, ders, fiyat aralığı, cinsiyet vs filtelerini kullanarak, isteklerinize uygun ders
                        verenleri bulabilirsiniz.</p>
                </div>
                <div class="image">
                    <img alt="Öğretmen Ara" src="./assets/landing/search.svg">
                </div>
            </div>
            <div class="step" fxLayout="row" fxLayout.lt-md="column">
                <div class="image">
                    <img alt="Kayıt" src="./assets/landing/announcement.svg">
                </div>
                <div class="description" align="right">
                    <h3>İlanınızı Yerleştirin</h3>
                    <p>İstediğiniz kriterlere uygun ders vereni bulamıyorsanız, kendiniz veya öğrenciniz için
                        ücretsiz ilanınızı oluşturun ders verenler sizi bulsun.</p>
                </div>
            </div>
            <div class="step" fxLayout="row" fxLayout.lt-md="column">
                <div class="description" align="left">
                    <h3>Teklif İsteyin</h3>
                    <p>Almak istediğiniz ders için ders verene bütçenize uygun teklif gönderebilirsiniz veya
                        ders verenin tekliflerini onaylayabilirsiniz. </p>
                </div>
                <div class="image">
                    <img alt="Öğretmen Ara" src="./assets/landing/offer.svg">
                </div>
            </div>
            <div class="step" fxLayout="row" fxLayout.lt-md="column">
                <div class="image">
                    <img alt="Kayıt" src="./assets/landing/course.svg">
                </div>
                <div class="description" align="right">
                    <h3>Ders Almaya Başlayın</h3>
                    <p>Ders veren ile teklif ve istediğiniz ders üzerinden anlaşma sağladıktan sonra derslerinizi
                        almaya başlayabilirsiniz.</p>
                    <a mat-raised-button [routerLink]="'/register'" color="primary">Şimdi Kaydol</a>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlexAlign="center center">
            <mat-card class="info-card mat-elevation-z4" fxFlex.gt-md>
                <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="shield"></mat-icon></div>
                <h4>Güvenli</h4>
                <div class="divider"></div>
                <p>İleri düzey yapay zeka güvenlik metodları ve şifrelemeleri ile verileriniz güven altında</p>
            </mat-card>
            <mat-card class="info-card mat-elevation-z4" fxFlex.gt-md>
                <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="pie-chart"></mat-icon></div>
                <h4>İstatiksel</h4>
                <div class="divider"></div>
                <p>Karşılaştırmalı ve kolay anlaşılır grafiklerle en uygun kararı vermenize yardımcı olur</p>
            </mat-card>
            <mat-card class="info-card mat-elevation-z4" fxFlex.gt-md>
                <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="heart"></mat-icon></div>
                <h4>Verimli</h4>
                <div class="divider"></div>
                <p>Yüzlerce ders veren arasında kriterlerinize en yakın sonuçları gösterir ve zaman kaybınızı önler</p>
            </mat-card>
        </div>
    </div>
    <div class="footer">
        <a href="https://ozelden.com/"><img alt="özelden logo gold" src="./assets/images/logo-gold.png"></a>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <p>info@ozelden.com</p>
            <p>+905079708807</p>
            <p>Bornova/Izmir</p>
        </div>
        <mat-divider></mat-divider>
        <a target="_blank" href="https://www.instagram.com/ozeldencom/"><mat-icon svgIcon="instagram"></mat-icon></a>
        <a target="_blank" href="https://www.facebook.com/ozelden/"><mat-icon svgIcon="facebook"></mat-icon></a>
        <a target="_blank" href="https://twitter.com/ozelden4"><mat-icon svgIcon="twitter"></mat-icon></a>
        <div fxLayout="row"fxLayoutAlign="center center" fxLayoutGap="16px">
            <a href="/about-us">Hakkımızda</a>
            <a href="/contract">Mesafeli Satış Sözleşmesi</a>
            <a href="/products">Ürünler ve Hizmetler</a>
            <a href="/kvkk">Gizlilik Kuralları</a>
        </div>
        <div class="logo-pack">
            <img alt="logo package" src="./assets/images/logo-band@2x.png">
        </div>
        <p>Copyright © 2020 ozelden.com</p>
    </div>
</div>
