<md-dialog>
    <md-progress-linear md-mode="indeterminate" ng-show="File.loading"></md-progress-linear>
    <form name="ChildForm">
        <md-dialog-content layout="column" class="md-padding">
            <div layout="column" layout-align="center center" class="md-margin">
                <img src="{{file}}" style="width: 256px; height: auto; border-radius: 8px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);">
            </div>
            <md-button layout="column" layout-align="center center" ng-click="Child.selectFile()">
                <md-icon md-svg-icon="upload"></md-icon> {{::'SELECT_FILE' | translate}}
            </md-button>
            <input class="md-button md-ink-ripple" type="file" name="file" id="file" accept="image/*" style="display: none;"
                   onchange="angular.element(this).scope().upload()">
            <div layout="row" flex>
                <md-input-container class="md-block">
                    <label>{{::'NAME' | translate}}</label>
                    <input required type="text" name="name" ng-model="Child.name"/>
                    <div ng-messages="ChildForm.name.$error" role="alert">
                        <div ng-message-exp="['required']">{{::'REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{::'SURNAME' | translate}}</label>
                    <input required type="text" name="surname" ng-model="Child.surname"/>
                    <div ng-messages="ChildForm.surname.$error" role="alert">
                        <div ng-message-exp="['required']">{{::'REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <md-radio-group ng-model="Child.sex" layout="row">
                <md-radio-button value="venus">
                    {{::'FEMALE' | translate}}
                </md-radio-button>
                <md-radio-button value="mars">
                    {{::'MALE' | translate}}
                </md-radio-button>
            </md-radio-group>
            <oz-date-input label="'DATE_OF_BIRTH'" ng-model="Child.birthDate" millisecond="Child.birthDate"></oz-date-input>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised" ng-click="Child.cancel()">
                {{::'CANCEL' | translate}}
            </md-button>
            <md-button type="submit" class="md-raised" ng-click="Child.confirm()">
                {{::'CONFIRM' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>