<md-dialog flex>
    <form name="classForm">
        <md-dialog-content layout-gt-sm="row" layout="column" flex>
            <div class="class-dialog-content" layout-gt-md="row" layout="column">
            <div layout="column" flex>
                <card-label>{{::'FILTERS' | translate}}</card-label>
                <md-card class="oz-setting-card">
                    <md-card-content layout="column" flex>
                        <md-input-container class="md-block">
                            <label>{{::'CLASS_NAME' | translate}}</label>
                            <input md-maxlength="30" required md-no-asterisk name="className" ng-model="Class.className">
                            <div ng-messages="classForm.className.$error">
                                <div ng-message="required">{{::'REQUIRED' | translate}}</div>
                                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{::'TUTOR' | translate}}</label>
                            <md-select name="tutorId" ng-model="Class.tutor" required ng-disabled="true">
                                <md-option value="{{tutor.id}}" ng-repeat="tutor in Class.tutors">{{tutor.name}}</md-option>
                            </md-select>
                            <div ng-messages="classForm.tutorId.$error">
                                <div ng-message="required">{{::'REQUIRED' | translate}}</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{::'LECTURE' | translate}}</label>
                            <md-select name="lecture" ng-model="Class.lecture" required>
                                <md-option value="{{lecture}}" ng-repeat="lecture in Class.lectures"
                                           ng-selected="{{Class.lecture.lectureArea === lecture.lectureArea &&
                                           Class.lecture.lectureTheme === lecture.lectureTheme}}">
                                    {{::lecture.lectureArea | translate}} - {{::lecture.lectureTheme | translate}}
                                </md-option>
                            </md-select>
                            <div ng-messages="classForm.lecture.$error">
                                <div ng-message="required">{{::'REQUIRED' | translate}}</div>
                            </div>
                            <div class="hint">{{::'ADD_MORE_LECTURE_INFO' | translate}}</div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{::'REGION' | translate}}</label>
                            <md-select name="region" ng-model="Class.region" required>
                                <md-option value="{{region}}" ng-repeat="region in Class.regions"
                                           ng-selected="{{Class.region.city === region.city &&
                                           Class.region.district === region.district}}">
                                    {{::region.city}} - {{::region.district}}
                                </md-option>
                            </md-select>
                            <div ng-messages="classForm.region.$error">
                                <div ng-message="required">{{::'REQUIRED' | translate}}</div>
                            </div>
                            <div class="hint">{{::'ADD_MORE_REGION_INFO' | translate}}</div>
                        </md-input-container>
                    </md-card-content>
                </md-card>

                <card-label>{{::'INSPECTION' | translate}} / {{::'EXAM' | translate}}</card-label>
                <md-card class="oz-setting-card">
                    <md-card-content layout="column" flex>
                        <md-switch ng-model="Class.content.inspection" aria-label="Inspection" flex>
                            {{::'INSPECTION_INFO' | translate}}
                        </md-switch>
                        <md-switch ng-model="Class.content.exam" aria-label="Exam" flex>
                            {{::'EXAM_INFO' | translate}}
                        </md-switch>
                    </md-card-content>
                </md-card>
            </div>

            <div layout="column" flex>
            <card-label>{{::'DAYS' | translate}}</card-label>
            <md-card class="oz-setting-card">
                <md-card-content layout="column" flex>
                    <div class="md-margin-vertical" layout="row" layout-align="space-between center" ng-repeat="d in Class.day">
                        <md-switch ng-model="d.state" aria-label="{{Class.dayMap[$index]}}" flex>
                            {{::Class.dayMap[$index] | translate}}
                        </md-switch>
                        <md-autocomplete class="no-errors-spacer" md-selected-item="d.start" md-autoselect="true"
                                         md-search-text="d.startDateText"
                                         md-selected-item-change="d.start"
                                         md-items="date in Class.querySearch(d.startDateText, Class.hours)"
                                         md-item-text="::date" md-min-length="0"
                                         md-floating-label="{{::'START' | translate}}" md-require-match="true"
                                         ng-disabled="!d.state" flex>
                            <md-item-template>
                                <span md-highlight-text="d.startDateText" md-highlight-flags="^i">{{date}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-autocomplete class="no-errors-spacer" md-selected-item="d.end" md-autoselect="true"
                                         md-search-text="d.endDateText"
                                         md-selected-item-change="d.end"
                                         md-items="date in Class.querySearch(d.endDateText, Class.hours)"
                                         md-item-text="::date" md-min-length="0"
                                         md-floating-label="{{::'END' | translate}}" md-require-match="true"
                                         ng-disabled="!d.state" flex>
                            <md-item-template>
                                <span md-highlight-text="d.endDateText" md-highlight-flags="^i">{{date}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                </md-card-content>
            </md-card>
            </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised" ng-click="Class.cancel()">
                {{::'CANCEL' | translate}}
            </md-button>
            <md-button type="submit" class="md-raised" ng-click="Class.confirm()"
                ng-disabled="!Class.className || !Class.tutor || !Class.lecture || !Class.region">
                {{::'CONFIRM' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>