<md-dialog>
    <md-progress-linear md-mode="indeterminate" ng-show="File.loading"></md-progress-linear>
    <md-dialog-content layout="column" class="md-padding">
        <div layout="column" layout-align="center center" class="md-margin">
            <img src="{{file}}" style="width: 256px; height: auto; border-radius: 8px; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.12);">
        </div>
        <md-button layout="column" layout-align="center center" ng-click="File.selectFile()">
            <md-icon md-svg-icon="upload"></md-icon> {{::'SELECT_FILE' | translate}}
        </md-button>
        <input class="md-button md-ink-ripple" type="file" name="file" id="file" accept="image/*" style="display: none;"
               onchange="angular.element(this).scope().upload()">
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised" ng-click="File.cancel()">
            {{::'CANCEL' | translate}}
        </md-button>
        <md-button type="submit" class="md-raised" ng-click="File.confirm()" ng-disabled="!file">
            {{::'CONFIRM' | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>