.student-card {
    .mat-card-avatar {
        height: 80px;
        width: 80px;
        box-shadow: 0 0 8px 0 #555555;
        margin: 8px 0;
    }

    .parent-image.mat-card-avatar {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 64px;
        left: 50%;
        background-color: #ffffff;
    }

    .mat-icon.gender {
        color: #555555;
        height: 16px;
        width: 16px;
    }

    .age {
        color: #555555;
        font-size: 14px;
        text-align: center;
    }

    .full-name {
        color: #722947;
        font-size: 18px;
        font-weight: 700;
        margin: 8px 0;
    }

    .parent-full-name {
        color: #555555;
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 8px 0;
    }
}
