<md-card class="oz-setting-card md-whiteframe-1dp">
    <md-card-header layout="column">
        <div layout="row" layout-align="space-between center">
            <div layout="column">
                <h3>{{::data.className}}</h3>
                <p><b>{{::data.lectureArea | translate}} - {{::data.lectureTheme | translate}}</b> ({{data.tutor.name}})</p>
            </div>
            <div>
                <md-menu>
                    <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdMenu.open()">
                        <md-icon md-svg-src="settings"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="operation('edit', data)"><md-icon md-svg-src="edit-button"></md-icon>{{::'EDIT' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="operation('remove', data)"><md-icon md-svg-src="remove-button"></md-icon>{{::'REMOVE' | translate}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <div class="week-item {{data.day[0].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'MONDAY' | translate}}</div>
            <div class="week-item {{data.day[1].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'TUESDAY' | translate}}</div>
            <div class="week-item {{data.day[2].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'WEDNESDAY' | translate}}</div>
            <div class="week-item {{data.day[3].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'THURSDAY' | translate}}</div>
            <div class="week-item {{data.day[4].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'FRIDAY' | translate}}</div>
            <div class="week-item {{data.day[5].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'SATURDAY' | translate}}</div>
            <div class="week-item {{data.day[6].state ? 'active' : ''}}" layout="column" layout-align="center center">{{::'SUNDAY' | translate}}</div>
        </div>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        <div layout="column" layout-align="center space-between">
            <div layout="row" layout-align="space-between center">
                <div>
                    <md-icon class="small-icon" md-svg-icon="{{data.content.inspection ? 'true' : 'false'}}"
                        style="fill: {{data.content.inspection ? 'green' : 'darkred'}}"></md-icon> {{::'INSPECTION' | translate}}
                </div>
                <div>
                    <md-icon class="small-icon" md-svg-icon="{{data.content.point ? 'true' : 'false'}}"
                         style="fill: {{data.content.point ? 'green' : 'darkred'}}"></md-icon> {{::'POINT' | translate}}
                </div>
                <div>
                    <md-icon class="small-icon" md-svg-icon="{{data.content.exam ? 'true' : 'false'}}"
                         style="fill: {{data.content.exam ? 'green' : 'darkred'}}"></md-icon> {{::'EXAM' | translate}}
                </div>
            </div>
            <div ng-show="data.students.length">
                <p>{{data.students.length}} Participants</p>
                <md-list flex style="max-height: 144px; overflow-y: auto;">
                    <md-list-item ng-repeat="item in data.students" ng-click="null">
                        <img style="background: url('img/default/female-user.png') no-repeat center center;
                                width: 32px; height: 32px; background-size: 100%;" class="md-avatar">
                        <p>Rashid Mammadov</p>
                        <md-menu class="md-secondary">
                            <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                <md-icon class="small-icon" md-svg-icon="more-details"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <p>fdfdf</p>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-card-content>
</md-card>