<div layout="column">
    <label>{{::label | translate}}</label>
    <div layout="row" flex>
        <md-input-container flex>
            <md-select ng-model="date.day" ng-change="onChange()" aria-label="day">
                <md-option ng-repeat="day in days" ng-value="day">
                    {{::day}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <md-select ng-model="date.month" ng-change="onChange()" aria-label="month">
                <md-option ng-repeat="month in months" ng-value="$index">
                    {{::month | translate}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex>
            <md-select ng-model="date.year" ng-change="onChange()" aria-label="year">
                <md-option ng-repeat="year in years | orderBy:propertyName:true" ng-value="year">
                    {{::year}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>