<md-card class="oz-user-card" flex layout="column">
    <div class="oz-user-card-header" layout-align="space-between center" layout="row">
        <div layout="row" flex>
            <div class="name">
                <h3>{{::user.name}} {{::user.surname}}</h3>
                <p> Tutor </p>
            </div>
        </div>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="settings"></md-icon>
        </md-button>
    </div>
    <div class="oz-user-card-info" layout="row">
        <div class="image">
            <div style="{{::Ctrl.setImage(user)}}"></div>
        </div>
        <div layout="row" layout-align="space-around start" flex>
            <div class="general" layout-align="center center" layout="column" flex>
                <md-icon md-svg-icon="location"></md-icon>
                <p class="location">{{::user.city}}/{{::user.district}}</p>
            </div>
            <div class="general" layout-align="center center" layout="column" flex>
                <md-icon md-svg-icon="birthday-cake"></md-icon>
                <p class="birthday">{{::Ctrl.dateDifference(user.birthDate, 'year', 'AGE')}}</p>
            </div>
            <div class="general" layout-align="center center" layout="column" flex>
                <md-icon md-svg-icon="quality"></md-icon>
                <p class="register">{{::Ctrl.dateDifference(user.registerDate, 'month')}}</p>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="oz-user-card-content">
        <md-tabs md-align-tabs="bottom">
            <md-tab id="tab1">
                <md-tab-label>{{::'OVERALL' | translate}}</md-tab-label>
                <md-tab-body>
                    <div class="overall">
                        <div layout="row" layout-align="space-between center" flex>
                            <p flex align="center">{{::'ATTENTION' | translate}}</p>
                            <p flex align="center">{{::'DISCIPLINE' | translate}}</p>
                            <p flex align="center">{{::'EXPRESSION' | translate}}</p>
                        </div>
                        <graph></graph>
                        <div class="overview" layout="row" layout-align="space-around center" flex>
                            <div class="item" flex>
                                <p><md-icon md-svg-icon="star"></md-icon> {{::'AVERAGE' | translate}}: <b>8.7</b></p>
                            </div>
                            <div class="item" flex>
                                <p><md-icon md-svg-icon="total-user"></md-icon> {{::'TOTAL_VOTES' | translate}}: <b>12</b></p>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>{{::'LECTURES' | translate}}</md-tab-label>
                <md-tab-body>
                    <md-list-item class="ozelden-list header" style="background-color: transparent;">
                        <p style="width:25%">{{::'LECTURE_AREA' | translate}}</p>
                        <p style="width:35%">{{::'LECTURE_THEME' | translate}}</p>
                        <p style="width:10%">{{::'EXPR' | translate}}</p>
                        <p style="width:10%" align="right">{{::'PRICE' | translate}}</p>
                        <p style="width:10%" align="center">{{::'DIFF' | translate}}</p>
                        <p style="width:10%" align="left">{{::'AVG' | translate}}</p>
                    </md-list-item>
                    <md-list style="margin: 0px;">
                        <md-list-item ng-repeat="lecture in user.lecturesList">
                            <p style="width: 25%">{{::lecture.lectureArea | translate}}</p>
                            <p style="width: 35%">{{::lecture.lectureTheme | translate}}</p>
                            <p style="width: 10%" align="left">{{::lecture.experience}} {{::'YEAR' | translate}}</p>
                            <p style="width: 10%" align="right">{{::lecture.price}} {{::lecture.currency | translate}}</p>
                            <p style="width: 10%" align="center" ng-init="diff = Ctrl.findLectureAverage(lecture)">
                                <md-tooltip md-direction="top">{{::diff.status | translate}}</md-tooltip>
                                <md-icon class="mid-icon" style="fill: {{::diff.fill}}" md-svg-icon="{{::diff.icon}}"></md-icon>
                            </p>
                            <p style="width: 10%" align="left">{{::lecture.average}} {{::lecture.currency | translate}}</p>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>{{::'FACILITIES' | translate}}</md-tab-label>
                <md-tab-body>
                    <div class="facility" layout="row" layout-align="space-between center" ng-repeat="(option, value) in user.facility">
                        <md-icon class="md-margin small-icon"
                                 style="fill: {{::(value ? 'green' : 'darkred')}}"
                                 md-svg-icon="{{::(value ? 'true' : 'false')}}"></md-icon>
                        <p flex>{{::option | translate}}</p>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</md-card>