<md-grid-list layout-fill flex md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3" md-row-height="400px" md-gutter="8px">
    <md-grid-tile ng-repeat="user in data track by $index">
        <md-card id="user-{{$index}}" class="oz-user-card" flex layout="column">
            <div class="oz-user-card-header" layout-align="space-between center" layout="row">
                <div layout="row" flex>
                    <div class="name"></div>
                </div>
                <md-button class="md-fab md-mini float">
                    <md-icon md-svg-icon="add-button"></md-icon>
                </md-button>
            </div>
            <div class="oz-user-card-info" layout="row">
                <div class="image"></div>
                <div layout="row" style="margin-right: 24px;">
                    <div class="general" layout-align="center center" layout="column">
                        <md-icon md-svg-icon="location"></md-icon>
                        <p class="location"></p>
                    </div>
                    <div class="general" layout-align="center center" layout="column">
                        <md-icon md-svg-icon="birthday-cake"></md-icon>
                        <p class="birthday"></p>
                    </div>
                    <div class="general" layout-align="center center" layout="column">
                        <md-icon md-svg-icon="quality"></md-icon>
                        <p class="register"></p>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="oz-user-card-content">
                <div class="tab overall" tab-index="0">
                    <div style="margin: 0px 40px" layout="row" layout-align="space-between center">
                        <p>{{'EXPRESSION' | translate}}</p>
                        <p>{{'ATTENTION' | translate}}</p>
                        <p>{{'CONTACT' | translate}}</p>
                    </div>
                    <graph></graph>
                </div>
                <div class="tab courses" tab-index="1">
                    <md-list>
                        <md-list-item ng-repeat="lecture in user.lecturesList">
                            <p style="width: 25%">{{lecture.lectureArea | translate}}</p>
                            <p style="width: 35%">{{lecture.lectureTheme | translate}}</p>
                            <p style="width: 10%" align="left">{{lecture.experience}} {{'YEAR' | translate}}</p>
                            <p style="width: 10%" align="right">{{lecture.price}} {{lecture.currency | translate}}</p>
                            <p style="width: 10%" align="center">
                                <md-icon ng-if="(lecture.average-lecture.experience*5) <= lecture.price && (lecture.average-(-lecture.experience*5)) >= lecture.price && lecture.average>0"
                                         style="fill: darkgreen;" md-svg-icon="math-approximately-equal"></md-icon>
                                <md-icon ng-if="(lecture.average - lecture.experience*5) > lecture.price && lecture.average>0"
                                         style="fill: #D1A377;" md-svg-icon="math-less-than"></md-icon>
                                <md-icon ng-if="(lecture.average + lecture.experience*5) < lecture.price && lecture.average>0"
                                         style="fill: darkred;" md-svg-icon="math-greater-than"></md-icon>
                                <md-icon ng-if="lecture.average == 0"
                                         style="fill: #555555;" md-svg-icon="math-infinity"></md-icon>
                            </p>
                            <p style="width: 10%" align="left">{{lecture.average}} {{lecture.currency | translate}}</p>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="oz-user-card-action" layout="row" layout-align="space-between center">
                <md-button tab-index="0" class="active">General</md-button>
                <md-button tab-index="1" class="">Dersler</md-button>
                <md-button tab-index="2" class="">General</md-button>
            </div>
        </md-card>
    </md-grid-tile>
</md-grid-list>