<md-card class="oz-setting-card md-whiteframe-1dp">
    <md-card-header>
        <div class="md-margin-vertical-md" layout="column" layout-align="center center" flex>
            <div class="image" style="background: #D1A377 url({{::data.picture}}) no-repeat center center;"></div>
            <p>{{::data.name}} {{::data.surname}}</p>
        </div>
        <md-menu>
            <md-button aria-label="settings" class="md-icon-button settings-button" ng-click="$mdMenu.open()">
                <md-icon md-svg-icon="settings"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="operation('edit', data)"><md-icon md-svg-src="edit-button"></md-icon>{{::'EDIT' | translate}}</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="operation('remove', data)"><md-icon md-svg-src="remove-button"></md-icon>{{::'REMOVE' | translate}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
        <div class="info" layout="row" layout-align="space-around center">
            <div layout="column" layout-align="center center">
                <md-icon md-svg-src="birthday-cake"></md-icon>
                <p>{{::dateDifference(data.birthDate, 'year', 'AGE')}}</p>
            </div>
            <div layout="column" layout-align="center center">
                <md-icon md-svg-src="{{::(data.sex === 'mars' ? 'male' : 'female')}}"></md-icon>
            </div>
        </div>
        <div layout="column" ng-if="::data.classes">
            <md-divider></md-divider>
            <p>{{::'CLASS' | translate}}</p>
            <md-chips ng-model="data.classes" name="classes" readonly="true" md-removable="false">
                <md-chip-template><b>{{::$chip.className}}</b></md-chip-template>
            </md-chips>
        </div>
    </md-card-content>
</md-card>