<div align="center" fxFlexAlign="center center">
    <h4>Sisteme kayıtlı email adresinizi girin</h4>
</div>
<mat-dialog-content>
    <form ngNoForm fxLayout="column" [formGroup]="forgotPasswordForm">
        <mat-form-field fxFlex.gt-md appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [type]="'email'" formControlName="email">
            <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">
                Email alanı boş bırakılamaz.
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('email')">
                Doğru email girdiğinizden emin olun.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Vazgeç</button>
    <button mat-button mat-flat-button mat-raised-button color="primary" (click)="submit()"
            [disabled]="!forgotPasswordForm.valid">Devam</button>
</mat-dialog-actions>
