<md-whiteframe id="ozelden-menu-bar" class="md-whiteframe-2dp" layout="row" layout-align="space-between center">
    <div layout="row" layout-align="start center">
        <img style="height: 50px;" hide show-gt-sm src="img/logo/logo.png" />
        <img style="height: 40px;" hide-gt-sm src="img/logo/logo-min.png" />
        <md-button ng-click="toggleLeft()" hide-gt-sm class="md-icon-button">
            <md-icon md-svg-icon="side-nav"></md-icon>
        </md-button>
    </div>

    <div layout="row" layout-align="end center">
        <md-button ui-sref="ozelden.tutor.dashboard" ui-sref-active="active">{{'T' | translate}}</md-button>
        <md-button ui-sref="ozelden.tutorLogin" ui-sref-active="active">{{'TUTOR_LOGIN' | translate}}</md-button>

        <md-select ng-model="Main.selectedLanguage" class="md-no-underline">
            <md-option value="az" ng-click="Main.changeLanguage('az')"><md-icon md-svg-icon="lang-az"></md-icon></md-option>
            <md-option value="en" ng-click="Main.changeLanguage('en')"><md-icon md-svg-icon="lang-en"></md-icon></md-option>
            <md-option value="tr" ng-click="Main.changeLanguage('tr')"><md-icon md-svg-icon="lang-tr"></md-icon></md-option>
        </md-select>
    </div>
</md-whiteframe>
<div id="ozelden-content">
    <ui-view style="height: 100%;"></ui-view>
</div>
