<div layout="column" flex style="height: 100%;">
    <md-whiteframe class="ozelden-menu-bar md-whiteframe-2dp" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <img style="height: 40px;" hide show-gt-sm src="img/logo/logo.png" />
            <img style="height: 40px;" hide-gt-sm src="img/logo/logo-min.png" />
            <md-button ng-click="toggleLeft()" hide-gt-sm class="md-icon-button">
                <md-icon md-svg-icon="side-nav"></md-icon>
            </md-button>
        </div>

        <div layout="row" layout-align="end center">
            <md-button ng-if="user.id" ui-sref="ozelden.user.dashboard" ui-sref-active="active">{{user.name}} {{user.surname | limitTo: 1}}.</md-button>
            <md-button ng-if="!user.id" ui-sref="ozelden.user.sign" ui-sref-active="active">{{'LOGIN' | translate}}</md-button>
            <md-button ng-if="user.id" class="md-icon-button" ng-click="Main.logout()">
                <md-icon md-svg-icon="logout"></md-icon>
                <md-tooltip md-direction="bottom">{{'LOGOUT' | translate}}</md-tooltip>
            </md-button>

            <md-select aria-label="Languages" ng-model="Main.selectedLanguage" class="md-no-underline">
                <md-option value="az" ng-click="Main.changeLanguage('az')"><md-icon md-svg-icon="lang-az"></md-icon></md-option>
                <md-option value="en" ng-click="Main.changeLanguage('en')"><md-icon md-svg-icon="lang-en"></md-icon></md-option>
                <md-option value="tr" ng-click="Main.changeLanguage('tr')"><md-icon md-svg-icon="lang-tr"></md-icon></md-option>
            </md-select>
        </div>
    </md-whiteframe>
    <div class="ozelden-content" layout="column" flex>
        <ui-view style="height: 100%;"> </ui-view>
        <!-- <div style="padding-top: 64px;"></div>
        <oz-search-result style="padding-top: 64px;" ng-data="Main.searchResult"></oz-search-result> -->
    </div>
</div>
