<div fxLayout="row" fxLayoutAlign="center center">
    <h4>Öğrenci Bilgileri</h4>
</div>
<mat-dialog-content align="center">
    <form ngNoForm fxLayout="column" [formGroup]="studentForm" fxLayoutGap="8px">
        <app-upload-file [file]="studentForm.controls.picture.value" [text]="'Fotoğraf'" [hideUploadButton]="true"
                         (callbackSelection)="setPicture($event)"></app-upload-file>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%" fxLayoutGap.lt-md="0">
            <mat-form-field fxFlex.gt-md="48%" appearance="outline">
                <mat-label>İsim</mat-label>
                <input matInput placeholder="İsim" formControlName="name">
                <mat-error *ngIf="studentForm.controls.name.hasError('required')">
                    İsim alanı boş bırakılamaz.
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="48%" appearance="outline">
                <mat-label>Soyisim</mat-label>
                <input matInput placeholder="Soyisim" formControlName="surname">
                <mat-error *ngIf="studentForm.controls.surname.hasError('required')">
                    Soyisim alanı boş bırakılamaz.
                </mat-error>
            </mat-form-field>
        </div>

        <mat-label class="custom-mat-label">Cinsiyet</mat-label>
        <mat-radio-group aria-label="Select a sex" formControlName="sex" fxFlexAlign="row" fxLayoutGap="16px">
            <mat-radio-button value="female">Kadın</mat-radio-button>
            <mat-radio-button value="male">Erkek</mat-radio-button>
        </mat-radio-group>

        <app-select-date-as-list [date]="studentForm.controls.birthday.value"
                                 (callback)="setBirthday($event)"></app-select-date-as-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-raised-button [mat-dialog-close]="false">Vazgeç</button>
    <button mat-button mat-raised-button color="primary" type="submit" [disabled]="studentForm.invalid"
            (click)="onClose()" autofocus>Onayla</button>
</mat-dialog-actions>
