/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logo img { height: 28px; width: auto; }
.mat-card-header-text { margin: 0 !important; }
.mat-card-header .mat-card-title { font-size: 18px !important; }
