<div class="container">
    <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="100%" fxFlexOffset="35%" fxFlexOffset.lt-md="0" fxLayoutGap="16px">
        <mat-card class="mat-elevation-z4">
            <mat-card-header fxLayoutAlign="center center">
              <mat-card-title>Kayıt</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form ngNoForm fxLayout="column" [formGroup]="registerForm">
                      <mat-form-field fxFlex appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email" [type]="'email'" formControlName="email">
                          <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                              Email alanı boş bırakılamaz.
                          </mat-error>
                          <mat-error *ngIf="registerForm.controls.email.hasError('email')">
                              Doğru email girdiğinizden emin olun.
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field fxFlex appearance="outline">
                          <mat-label>Kullanıcı Tipi</mat-label>
                          <mat-select formControlName="type">
                              <mat-option *ngFor="let userType of userTypes" [value]="userType.value">
                                {{userType.name}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>

                      <mat-form-field fxFlex appearance="outline">
                          <mat-label>Şifre</mat-label>
                          <input matInput placeholder="Şifre" [type]="'password'" formControlName="password">
                          <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                              Şifre alanı boş bırakılamaz.
                          </mat-error>
                          <mat-error *ngIf="registerForm.controls.password.hasError('pattern')">
                              Şifre en az 6 en fazla 20 karakter uzunluğunda olup en az bir büyük, bir küçük karakter ve bir rakam içermelidir.
                          </mat-error>
                      </mat-form-field>

                      <mat-form-field fxFlex appearance="outline">
                          <mat-label>Şifre Onayı</mat-label>
                          <input matInput placeholder="Şifre Onayı" [type]="'password'" formControlName="passwordConfirmation">
                          <mat-error *ngIf="registerForm.controls.passwordConfirmation.hasError('required')">
                              Şifre alanı boş bırakılamaz.
                          </mat-error>
                          <mat-error *ngIf="registerForm.controls.passwordConfirmation.hasError('pattern')">
                              Şifre en az 6 en fazla 20 karakter uzunluğunda olup en az bir büyük, bir küçük karakter ve bir rakam içermelidir.
                          </mat-error>
                      </mat-form-field>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="4%" fxLayoutGap.lt-md="8px">
                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>İl</mat-label>
                            <mat-select formControlName="city">
                                <mat-option *ngFor="let city of cities" [value]="city">
                                    {{city.city_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>İlçe</mat-label>
                            <mat-select formControlName="district">
                                <mat-option *ngFor="let district of registerForm.controls.city.value.districts" [value]="district">
                                    {{district}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <button mat-flat-button color="primary" type="sumbit" mat-button (click)="register()"
                            [disabled]="!registerForm.valid">Kayıt Ol</button>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z4">
            <mat-card-content fxLayoutAlign="center center" routerLink="/login">
                <p>Zaten bir hesabın var mı? <b>Giriş yap</b></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
